
<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/students">STUDENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"></a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- navbar end -->


<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
        <h2 class="text-center mb-5">STUDENT EDIT FORM</h2>
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://i.pinimg.com/736x/7a/60/81/7a608125eea5ecb7e8fb689da25ab358.jpg"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-center">Edit form</h3>
  
              <form class="px-md-2" action="" method="post" onsubmit="return student(this)">
  
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1q" class="form-control" name="name" value="<%=result.name%>" required/>
                  <label class="form-label" for="form3Example1q">Name</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="number" id="form3Example1q" class="form-control" name="age" value="<%=result.age%>" required/>
                    <label class="form-label" for="form3Example1q">Age</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q" class="form-control" name="course" value="<%=result.course%>" required/>
                    <label class="form-label" for="form3Example1q">Course Name</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="date" id="form3Example1q" class="form-control" name="startdate" value="<%=result.StartedDate.toLocaleString()%>" required/>
                    <label class="form-label" for="form3Example1q">Course Started date</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="date" id="form3Example1q" class="form-control" name="enddate" value="<%=result.EndedDate.toLocaleString()%>" required/>
                    <label class="form-label" for="form3Example1q">Course Ended date</label>
                  </div>

                <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>

              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    function student(form){
    Swal.fire({
    position: 'top-end',
    icon: 'success',
    title: 'Updation is completed Succesfully',
    showConfirmButton: false,
    timer: 3000
    }).then((isOkay)=>{
        if(isOkay){
        form.submit()
        }
    })
    return false
    }
  </script>